Repository timvideos/HDMI2USB-litex-firmware, pull requests merged in 2018-02, with the labels that each got.

#406 gateware opsis: declare debug_io0/1
  platforms/opsis.py
Labels: board-opsis, boards-spartan6

#407 Correct getting-started.md 's make commands
  getting-started.md
Labels: level-docs

#410 Python script of version_data
  firmware/version_data.py
Labels: firmware-softcpu, level-firmware
